.container{
    padding:10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; 
}
.buscarfield{
    margin: 0 10px;
    min-width: 250px;
}

.mat-raised-button{
    min-width: 100px;
    min-height: 45px;
}

.formMain {
    .form {
      display: flex;
      justify-content: center;

      .group {
        margin: 0 10px;
      }
      .btnbuscar{
          min-width: 100px;
          min-width: 45px;
      }

    }
  }